<!doctype html>
<div id="container" class="ui-widget-content" style="height: 400px; width: 600px"></div>

<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<script>

$(function() {

      datum = <%= @dump%>
	var chart = new Highcharts.StockChart({
	    
	    chart: {
	        renderTo: 'container',
	        backgroundColor: '#FCFFC5'
	    },
	    
	    rangeSelector: {
	    	selected: 1
	    },
	    
	    series: [{
	        name: 'ADPROXY-DEV',
	        data: datum
	    }]
	});
	$( "#container" ).draggable();
});
</script>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Harper Collins ETG Dashboard</title>
    <script>
    $(function() {
        $( "#tabs" ).tabs({
            collapsible: true
        });
    });
    </script>
</head>
<body>
 
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Nagios</a></li>
        <li><a href="#tabs-2">WinServer Jobs</a></li>
        <li><a href="#tabs-3">Cloud</a></li>
    </ul>
    <div id="tabs-1">
        <iframe src="/dashboard/_nagios"></iframe>
    </div>
    <div id="tabs-2">
	<%= render 'winjobs'%>
    </div>
    <div id="tabs-3">
        <h1>Coming soon</h1>
	<%= image_tag "thecloud.png", :height => '200', :width => '200' %>
    </div>
</div>
 
 
</body>
</html>