<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
         <%= render :file=>"#{Rails.root}/app/assets/stylesheets/test_email.css.scss", :use_full_path=>true %>
    </style>
  </head>
  <body>
    <p>
      Good morning <%@user%>
      At the time: <%= Time.now %> the check of active jobs was run, the results are:<br/>
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
