<script>
$(function() {
    $("#serverlist").accordion({
  collapsible: true,
  heightStyle: "fill"
    });
    $("#serverstats").accordion({
      collapsible: true,
      heightStyle: "fill"
    });
});
</script>
<script src="https://raw.github.com/Mikhus/canv-gauge/master/gauge.js"></script>
<h4 class="time">Index of All Systems As Of: <%=Time.now%></h4>

<div id="serverlist">
<% Servicestatus.all_hosts.each do |system|%>
<h5 class="servername" style="padding: 0 0 0 0"><table class="header" width="800" border="1"><th class="icon"></th><th><%= system.name%></th><th><%= system.host_name%></th></table></h5>
<div class="server">
    <table class="grid" width="700" border="1">
        <th>Location</th>
        <th>OS Type</th>
        <th>Tags</th>
        <th>Description</th>
	

    </table>

    <div id="serverstats">
      <h5 class="servername" style="padding: 0 0 0 0"></h5>
      <div>System Status

      </div>
      <div>Disk go here</div>

    </div>

</div>
<%end%>
</div>
